<!doctype html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Your Merge Chance on GitHub </title>
</head>
<body>
    <div class="pure-g">
        <a class="pure-u-20-24"></a>
        <h1 class="pure-u-2-24" > <a href="https://github.com/PiotrZakrzewski/merge-chance">  <i class="fa fa-github"> </i> </a> </h1>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <h1 class="pure-u-3-5"> Merge Chance For</h1>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <h2 class="pure-u-6-24"> <a href="https://github.com/{{repo}}"> {{repo}} </a> </h2>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <h1> <b class="pure-u-1-24"> {{chance}}% </b></h1>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <span class="pure-u-12-24"> of the PRs made by outsiders (not owners/members) get merged.</span>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <h1 class="pure-u-12-24">PRs usually closed after <b>  {{median}} days </strong></b> (median) </h1>
    </div>
    <br/>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <i class="pure-u-12-24"> * Based on most recent <strong> {{total}} </strong> outsiders' PRs </i>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <i class="pure-u-6-24"> <a href="{{ url_for('download_data', repo=repo) }}"> (Download the data) </a> </i>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <i class="pure-u-12-24"> * PRs open but not merged within 90 days are also treated as rejected </i>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <i class="pure-u-12-24"> * PRs closed by the author are ignored </i>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <i class="pure-u-12-24"> * bot PRs and spam should be ignored (check data to validate - help welcome) </i>
    </div>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <a class="pure-u-6-24" href="https://pzakrzewski.hashnode.dev/will-your-pr-ever-be-merged"> See this blog post for more explanation</a>
    </div>
    <br/>
    <div class="pure-g">
        <a class="pure-u-1-24"></a>
        <span class="pure-u-12-24">
            Copy Markdown below to your README.md to get a Merge-Chance badge
        </span>
    </div>
<div class="pure-g">
    <a class="pure-u-1-24"></a>
    <pre class="pure-u-22-24">
        <code class="markdown">
            [![merge-chance-badge](https://img.shields.io/endpoint?url=https%3A%2F%2Fmerge-chance.info%2Fbadge%3Frepo%3D{{repo | urlencode}})](https://merge-chance.info/target?repo={{repo | urlencode}})
        </code>
    </pre>
</div>
<div class="pure-g">
    <a class="pure-u-1-24"></a>
    <span class="pure-u-2-24"> Like this one</span>
    <img alt="Custom badge" src="https://img.shields.io/endpoint?url=https%3A%2F%2Fmerge-chance.info%2Fbadge%3Frepo%3D{{repo | urlencode}}">
</div>
<br/>
<div class="pure-g">
    <a class="pure-u-1-24"></a>
    <a class="pure-u-6-24 pure-button pure-button-primary" href="/"> Check Some Other Repo .. </a>  
</div>
<br/>
<hr/>
<footer>
    <p><i>By Piotr Zakrzewski 2021 </i></p>
    <a href="https://twitter.com/pmzakrzewski?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @pmzakrzewski</a>
  </footer>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
